* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body , div {
    margin-top: 0px;
    color: white;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.content-panel {
    background-color: black;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 500px;
    border-radius: 50px;
    overflow: hidden;
}

.common-button {
    border-radius: 20px;
    width: 8%;
    height: 8%;
    background-color: aqua;
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
    padding: auto;
}